<div align="center">
    <ol class="hidey">
        {{#each themes}}
        <li class="topic">{{theme}}</li> 
        {{/each}}
    </ol>

    <p class="popout">
            <span>P</span>
            <span>I</span>
            <span>C</span>
            <span>K</span><br>
            <span>T</span>
            <span>H</span>
            <span>E</span><BR>
            <span>S</span>
            <span>W</span>
            <span>A</span>
            <span>R</span>
            <span>M</span>
            
          </p>
      <div class="container">
    
        
        <main class="topic-box border">
    
          <div class="topic-area">
            <q id="topic"></q>
          </div>
    
    
          <div class="buttons-area" id="myBtn" >
            <a class="btn border-smaller" href="#" title="Next topic" value="Refresh Page" onClick="window.location.reload()">Pick a topic</a>
          </div>
    
        </main>
       
      </div>
    
</div>